{% extends '/reset/base.reset.html.twig' %}

{% block body %}
    <span>Suite à votre demande de réinitialisation de votre mot de passe</span>
    <p>Votre compte sera bloqué jusqu'à ce que vous réinitialisez le mot de passe en cliquant sur <a href="{{ redirect_url }}">ce lien</a></p>
{% endblock %}
{% block footer %}
    <div id="footer">
        <span>Si vous ne vous êtes pas inscrit sur ce site, veuillez ignorer ce message ! Tant que vous ne validerez pas l'email le compte associé à cet email sera inactif</span>
    </div>
{% endblock %}
