.primary {
    background-color: #662D91 !important;
}

.color-primary {
    color: #662D91 !important;
    font-weight: bolder;
}

.primary-container {
    background-color: #662D91;
    color: #BFBFBF;
}

.reverse {
    color: #662D91;
    background-color: #BFBFBF;
}

.secondary {
    background-color: #190826 !important;
}

.navbar {
    border-bottom: 5px solid whitesmoke;
}

.nav-item:hover {
    cursor: pointer;
}

#root {
    background-color: whitesmoke;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.body-container {
    flex: 1 0 auto;
}

.footer {
    padding-top: 1.5rem;
    padding-bottom: 1.5rem;
    border-top: 3px solid grey;
}

.footer-content {
    text-align: center;
    color: ghostwhite;
}

@media screen and (max-width: 767px){
    .footer {
        padding-top: 0;
        padding-bottom: 0;
    }

    .footer-content {
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

.dropdown-menu {
    padding: 0.5rem;
    min-width: 250px;
}

.redirect {
    cursor: pointer;
    color: #662D91;
}

.redirect:hover {
    color: rgba(102, 45, 145, 0.7);
}

.b-secondary {
    border: 1px solid #190826;
}

body {
    font-size: 160%;
    font-weight: lighter;
}

.navbar-brand, .fs-140 {
    font-size: 140%;
}

.greyscale {
    transition: ease-in-out all 0.5s;
    filter: grayscale(100%);
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
}

.greyscale:hover {
    transition: ease-in-out all 0.5s;
    filter: grayscale(0%);
    -webkit-filter: grayscale(0%);
    -moz-filter: grayscale(0%);
    -ms-filter: grayscale(0%);
    -o-filter: grayscale(0%);
}

.fs-600 {
    font-size: 600%;
}

.fsr-5 {
    font-size: 5rem;
}

.dropdown-item {
    font-size: 140%;
}

.dropdown-item:active {
    color: #662D91;
    background-color: transparent;
}

.b-ws {
    background-color: whitesmoke;
}

.bg-title_outing {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
    background-color: #23022E;
}

.no-style {
    list-style: none;
}

@media screen and (min-width: 768px){
    .b-right-md {
        border-right: 1px solid darkgrey;
    }

    .b-left-md {
        border-left: 1px solid darkgrey;
    }
}

.required {
    color: darkred;
}

.title-cgu {
    text-decoration: underline;
}

.logo-navbar {
    max-height: 50px;
}

.react-datepicker-wrapper, .react-datepicker__input-container {
    display: block !important;
}

.card-body {
    position: relative;
    z-index: 5;
    height: 100%;
    max-width: 100%;
    padding: 20px;
}

.bg-outing {
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: url("https://images.unsplash.com/photo-1524368535928-5b5e00ddc76b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2100&q=80") center center;
    opacity: 0.4;
    width: 100%;
    height: 100%;
}

.card-header {
    padding: 0;
    font-size: 2rem;
}

.card-header-secondary {
    padding: 0 0 1.25rem 0;
    font-size: 1rem;
}

.city-show {
    position: absolute;
    top: 50%;
    right: 0;
    font-size: 200%;
    transform: translateY(-50%);
    color: #3F3F3F;
}

.p-relative {
    position: relative;
}
